@model ProjektASPNET.Models.ProductModel
@{
    ViewBag.Title = "ProductAdd";
}

<h2>Dodaj produkt</h2>

<form method="post">
    <table class="body-content">
        <tr>
            <td>
                Nazwa:
            </td>
            <td>
                @Html.TextAreaFor(model => model.Name)
            </td>
        </tr>
        <tr>
            <td>
                Opis:
            </td>
            <td>
                @Html.TextAreaFor(model => model.Description)
            </td>
        </tr>
        <tr>
            <td>
                Cena:
            </td>
            <td>
                @Html.EditorFor(model => model.Price)
            </td>
        </tr>
    </table>
    <button>Stwórz</button>
</form>

@Html.ActionLink("Powrót", "ProductsView")