@model ProjektASPNET.Models.LoginModel
@{
    ViewBag.Title = "LoginView";
}

<h2>Strona logowania</h2>

<div id="registrationMessage"></div>
@ViewBag.Message


<form method="POST">
    <table>
        <tr>
            <td>Login:</td>
            <td>@Html.TextBoxFor(m => m.Login)</td>
        </tr>
        <tr>
            <td>Hasło:</td>
            <td>@Html.PasswordFor(m => m.Password)</td>
        </tr>
    </table>

    @Html.ValidationSummary()

    <button>Zaloguj</button>

</form>