
@{
    ViewBag.Title = "LogoutView";
}

<h2>Wylogowano!</h2>

<div>
    @Html.ActionLink("Strona główna", "../Home/Index")
</div>
<div>
    @Html.ActionLink("Zaloguj się", "LoginView")
</div>
<div>
    @Html.ActionLink("Zarejestruj się", "RegisterView")
</div>