@model ProjektASPNET.Models.LoginModel
@{
    ViewBag.Title = "RegisterView";
}

<h2>RegisterView</h2>

<form method="POST">

    <table>
        <tr>
            <td>Login:</td>
            <td>@Html.TextBoxFor(m => m.Login)</td>
        </tr>
        <tr>
            <td>Hasło:</td>
            <td>@Html.PasswordFor(m => m.Password)</td>
        </tr>
        <tr>
            <td>Powtórz hasło</td>
            <td>@Html.PasswordFor(m => m.Password2)</td>
        </tr>
        <tr>
            <td colspan="2">
                @Html.ValidationSummary()
            </td>

        </tr>
        <tr>
            <td colspan="2" align="right">
                <button>Zarejestruj</button>
            </td>
        </tr>
    </table>
</form>