@model ProjektASPNET.Models.ProductModel
@{
    ViewBag.Title = "AddToCartView";
}

<h2>Czy na pewno chcesz dodać produkt do koszyka?</h2>

<form method="post">
    <div>
        Nazwa: @Model.Name
    </div>
    <div>
        Opis: @Model.Description
    </div>
    <div>
        Cena: @Model.Price.ToString().Substring(0, Model.Price.ToString().Length - 2),@Model.Price.ToString().Substring(Model.Price.ToString().Length - 2, 2) zł
    </div>
    <div>
        <button>Tak</button>
    </div>
    <div>
        @Html.ActionLink("Powrót", "Index")
    </div>
</form>