@model ProjektASPNET.Models.ProductModel
@{
    ViewBag.Title = "ProductSeen";
}

<h2>Opis produktu</h2> 

<table class="body-content">
    <tr>
        <td>
            Nazwa:
        </td>
        <td>
            @Html.DisplayFor(model => model.Name)
        </td>
    </tr>
    <tr>
        <td>
            Opis:
        </td>
        <td>
            @Html.DisplayFor(model => model.Description)
        </td>
    </tr>
    <tr>
        <td>
            Cena:
        </td>
        <td>
            @Model.Price.ToString().Substring(0, Model.Price.ToString().Length - 2),@Model.Price.ToString().Substring(Model.Price.ToString().Length - 2, 2) zł
        </td>
    </tr>
</table>
@Html.ActionLink("Powrót", "Index")